<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="circle">

    <link name="Untitled">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="Cylinder">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Cylinder.stl" scale="0.3 0.3 0.005"/>
        </geometry>
        <material name="Material.001"/>
      </visual>
    </link>

    <material name="Material.001">
      <color rgba="0.64 0 0 1.0"/>
    </material>

  </robot>
