<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="aruco">

    <link name="Untitled">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="Aruco">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Aruco.stl" scale="0.008 0.002 0.008"/>
        </geometry>
        <material name="Material.001"/>
      </visual>
    </link>

    <link name="Untitled.001">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="Cube">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.4 0.01 0.4"/>
        </geometry>
        <material name="Material.002"/>
      </visual>
    </link>

    <joint name="Untitled.001" type="fixed">
      <origin xyz="0 0.05 0" rpy="0 0 0"/>
      <parent link="Untitled"/>
      <child link="Untitled.001"/>
    </joint>

    <material name="Material.001">
      <color rgba="0 0 0 1.0"/>
    </material>

    <material name="Material.002">
      <color rgba="1 1 1 1.0"/>
    </material>

  </robot>
